<!DOCTYPE html>
<html>
<head>
  <title>Recipes!</title>
</head>
<body align="center">
  <h1>My Recipes</h1>
  <% @recipes.each do |recipe| %>
  <h2><a href='/recipes/<%= recipe.name %>'><%= recipe.name %></a></h2>
  <h3><%= recipe.cook_time %></h3>
  <p><%= recipe.ingredients %></p>
  <% end %>
</body>
</html>
