<!DOCTYPE html>
<html>
<head>
  <title><%= "#{@recipe.name}" %></title>
</head>
<body align="center">
  <h1><%= @recipe.name %></h1>
  <h3>Cook time: <%= @recipe.cook_time %></h3>
  <p>Ingredients: <%= @recipe.ingredients %></p>
</body>
</html>
