<!DOCTYPE html>
<html>
<head>
  <title><%= "#{@recipe.name}" %></title>
</head>
<body align="center">
  <h1 style="text-decoration: underline;"><%= @recipe.name %></h1>
  <h3>Cook time: <%= @recipe.cook_time %></h3>
  <p>Ingredients: <%= @recipe.ingredients %></p>

  <a href='/recipes/edit'>Edit This Recipe</a>
  <a href='/recipes'>Recipes Home Page<a>
</body>
</html>
